body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #1b1919;
    color: rgb(179, 197, 14);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    width: hs;
    margin: 0;
    display: flex;
}

nav{
    display: block;
}

main{
    display: flex;
}

    
    header {
        background: #1b1919;
        color: rgb(179, 197, 14);
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header h1 {
        margin: 0;
    }
    
    header nav ul {
        list-style: none;
        padding: 0;
        width: hs;
        margin: 0;
        display: flex;
    }
    
    nav{
        display: block;
    }
    
    main{
        display: flex;
    }
    
    .cars_img
    
    
    .car_img img{
        margin: 10px;
        padding: 10px;
        border-radius: 30px;
        height: 150px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .car_img a
    
    a{
        text-align: center;
        text-decoration: none;
    }
    
    .car_img :hover{
        background-color: greenyellow;
    }
    
    header nav ul li {
        margin-left: 20px;
    }
    
    header nav ul li a {
        color: rgb(194, 214, 10);
        text-decoration: none;
    }
    
    .hero {
        background: url('/imgs/PC/laptop/MacBook_Air_13_in_M3_Midnight_PDP_Image_Position_1__WWEN_5000x.webp') no-repeat center center/cover;
        color: rgb(168, 11, 11);
        animation-direction: alternate;
        text-align: center;
        padding: 100px 50px;
    }
    
    .featured-products,
    .product-list,
    .product-detail,
    .cart-items {
        padding: 20px;
    }
    
    .product {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        display: inline-block;
        width: calc(33% - 40px);
    }
    
    .Nav_sor{
        display: flex;
        text-decoration: none;
    }
    
    .Nav_sor ul li{
        display: flex;
        text-decoration: none;
    }
    
    .Nav_sor a{
        display: flex;
        text-decoration: none;
    }
    
    .featured-products{
        display: flex;
    }
    
    .list_ph{
        background-color: whitesmoke;
        display:inline-table;
        padding: 40px;
    }
    
    .list_ph ul{
        padding: 10px;
        display: flex;
    
    }
    
    .list_ph ul a{
        padding: 0;
        margin: 10px;
        display: flex;
    }
    
    .list_ph li a{
        padding: 10px;
        display: flex;
        color: rgb(140, 0, 255);
        font-weight: 600;
    }
    
    .list_ph a:hover{
        background-color: #1b1919;
        border-radius: 20px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
}
    
    .product img {
        max-width: 100%;
        height: auto;
    }
    
    footer {
        background: #333;
        color: white;
        text-align: center;
        padding: 20px 0;
        position: fixed;
        bottom: 0%;
}
    



.car_img img{
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    height: 150px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-ras:30px;
    -o-border-radius: 30px;
}
.phone_img a

a{
    text-align: center;
    text-decoration: none;
}

.phone_img :hover{
    background-color: greenyellow;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: rgb(194, 214, 10);
    text-decoration: none;
}

.hero {
    background: url('/imgs/PC/laptop/MacBook_Air_13_in_M3_Midnight_PDP_Image_Position_1__WWEN_5000x.webp') no-repeat center center/cover;
    color: rgb(168, 11, 11);
    animation-direction: alternate;
    text-align: center;
    padding: 100px 50px;
}

.featured-products,
.product-list,
.product-detail,
.cart-items {
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: calc(33% - 40px);
}

.Nav_sor{
    display: flex;
    text-decoration: none;
}

.Nav_sor ul li{
    display: flex;
    text-decoration: none;
}

.Nav_sor a{
    display: flex;
    text-decoration: none;
}

.featured-products{
    display: flex;
}

.list_ph{
    background-color: whitesmoke;
    display:inline-table;
    padding: 40px;
}

.list_ph ul{
    padding: 10px;
    display: flex;

}

.list_ph ul a{
    padding: 0;
    margin: 10px;
    display: flex;
}

.list_ph li a{
    padding: 10px;
    display: flex;
    color: rgb(140, 0, 255);
    font-weight: 600;
}

.list_ph a:hover{
    background-color: #1b1919;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0%;
}